name: devstack
on:
  pull_request:

env:
  OS_CLOUD: devstack-admin-demo

jobs:
  external-dns-source-fake:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout external-dns-openstack-webhook
        uses: actions/checkout@v6

      - name: Checkout kubernetes-sigs/external-dns
        uses: actions/checkout@v6
        with:
          repository: kubernetes-sigs/external-dns
          path: ./external-dns
          ref: v0.20.0

      - name: Checkout openstack/devstack
        uses: actions/checkout@v6
        with:
          repository: openstack/devstack
          ref: "stable/2025.2"
          path: ./devstack

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.x"
          cache-dependency-path: |
            ./go.sum
            ./external-dns/go.sum

      - name: Install pip
        run: python -m pip install --upgrade pip

      - name: go build external-dns-openstack-webhook
        run: make build

      - name: go build external-dns
        run: make build
        working-directory: ./external-dns

      - name: Configure devstack
        working-directory: ./devstack
        shell: bash
        run: |
          cat <<EOF | tee local.conf
          [[local|localrc]]
          ADMIN_PASSWORD=secret
          DATABASE_PASSWORD=root
          RABBIT_PASSWORD=secret
          SERVICE_PASSWORD=secret
          LOGFILE=/var/tmp/devstack.log
          USE_PYTHON3=True
          INSTALL_TEMPEST=False
          ENABLED_SERVICES=key,mysql,rabbit
          ENABLE_HTTPD_MOD_WSGI_SERVICES=True
          DESIGNATE_BACKEND_DRIVER=bind9

          enable_plugin designate https://opendev.org/openstack/designate stable/2025.2
          enable_service designate,designate-central,designate-api,designate-zone-manager,designate-mdns,designate-worker,designate-producer
          EOF

      - name: Run stack.sh
        run: ./stack.sh
        working-directory: ./devstack

      - name: Restart Designate
        run: sudo systemctl restart "devstack@designate-*.service"

      - name: Create zones example.com
        run: |
          openstack zone create --email admin@example.com example.com.
          openstack zone create --email admin@example.com ishallnotbeusedbywebhook.test.

      - name: Wait for zone creation
        run: |
          while [ "$(openstack zone list -f csv | grep PENDING)" != "" ]; do date; openstack zone list -f value; sleep 1; done

      - name: Create application credential with access rules and write clouds.yaml for external-dns-openstack-webhook
        shell: bash
        working-directory: ./build/bin/
        run: |
          # https://docs.openstack.org/python-openstackclient/latest/cli/authentication.html
          ZONE_ID_EXAMPLE_COM=$(openstack zone list --name example.com. -f value -c id)

          cat <<EOF | tee openstack-access-rules.json
            [
                {
                    "method": "GET",
                    "path": "/v2/zones",
                    "service": "dns"
                },
                {
                    "method": "GET",
                    "path": "/v2/zones/${ZONE_ID_EXAMPLE_COM}",
                    "service": "dns"
                },
                {
                    "method": "GET",
                    "path": "/v2/zones/${ZONE_ID_EXAMPLE_COM}/recordsets",
                    "service": "dns"
                },
                {
                    "method": "GET",
                    "path": "/v2/zones/${ZONE_ID_EXAMPLE_COM}/recordsets/*",
                    "service": "dns"
                },
                {
                    "method": "POST",
                    "path": "/v2/zones/${ZONE_ID_EXAMPLE_COM}/recordsets",
                    "service": "dns"
                },
                {
                    "method": "PUT",
                    "path": "/v2/zones/${ZONE_ID_EXAMPLE_COM}/recordsets/*",
                    "service": "dns"
                },
                {
                    "method": "DELETE",
                    "path": "/v2/zones/${ZONE_ID_EXAMPLE_COM}/recordsets/*",
                    "service": "dns"
                }
            ]
          EOF

          readarray -t lines <<< $(openstack application credential create external-dns-webhook --access-rules openstack-access-rules.json -f value -c id -c secret)
          APP_CRED_ID=${lines[0]}
          APP_CRED_SECRET=${lines[1]}

          cat <<EOF | tee clouds.yaml
            clouds:
              external-dns-webhook:
                auth:
                  auth_url: http://127.0.0.1/identity
                  application_credential_id: ${APP_CRED_ID}
                  application_credential_secret: ${APP_CRED_SECRET}
                auth_type: v3applicationcredential
          EOF

      - name: Start external-dns-openstack-webhook in background
        working-directory: ./build/bin/
        run: |
          echo "This is the clouds.yaml used by the webhook ..."
          cat clouds.yaml
          echo "Starting webhook now  ..."
          OS_CLOUD=external-dns-webhook ./external-dns-openstack-webhook >/tmp/external-dns-openstack-webhook.log 2>&1 &

      - name: Run external-dns
        working-directory: ./external-dns
        run: ./build/external-dns --domain-filter example.com. --txt-owner-id my-cluster-id --provider webhook --source fake --log-level=debug --once 2>&1

      - name: Show /tmp/external-dns-openstack-webhook.log
        if: success() || failure()  # we want to see the logs of the webhook especially when things dont work
        run: cat /tmp/external-dns-openstack-webhook.log

      - name: Wait for PENDING
        run: |
          while [ "$(openstack zone list -f csv | grep PENDING)" != "" ]; do date; openstack zone list -f value; sleep 1; done

      - name: Show created entries
        run: |
          echo "Zones:"
          openstack zone list -f value
          echo "Recordsets:"
          openstack recordset list all -f value

      - name: Check created entries
        run: |
          if [ $(openstack recordset list all -f value | grep -c " TXT ") -ne 10 ]; then exit 1; fi
          if [ $(openstack recordset list all -f value | grep -c " A ") -ne 10 ]; then exit 2; fi
